* {
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  padding: 0 10px;
  align-items: center;
  height: 96px;
  justify-content: space-between;
  background-color: #21222A;
}

.navbar-subtitle{
  color: #DEEBF8;
}

.navbar-logo{
  display: flex;
  align-items: center;

  gap: 6px;
}
.navbar-logo--img{
  width: 30px
}

.navbar-logo--title{
  color: #00D8FF;
  font-size: 22.25px;
}
